
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Crave</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="index-page">
      <section class='container-fluid full-height'> 
        <div class='row logo-row'> 
          <div class='full-width full-height'>
            <img src="images/craveLogo.png"/>
          </div>  
        </div>

        <div class='row recipes-row'> 
          <a href="/recipe" class="btn btn-default btn-lg active col-xs-8 col-xs-offset-2" role="button">Recipes</a>
        </div>

        <div class='row friends-row'> 
          <div class='full-width full-height'>
           <a href="#" class="btn btn-default btn-lg active col-xs-8 col-xs-offset-2" role="button">Friends</a>
         </div>
        </div>
      </section>
  </body>
</html>