<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Crave</title>
    <link rel="stylesheet" href="https://fonts.googleapis com/css?family=Roboto:400,100" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <meta name="description">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body class="index-page">
  <div class="container light-box">
    <div class="light-background">
      <div class="row text-row">
         <p class="col-xs-12 cursive"> Welcome To</p>
      </div>
      <div class="row text-row">
        <p class="col-xs-12 cursive"> CRAVE</p>
      </div>
       <div class="row logo-login-row">
       </div>
      <div class="row login-row">
        <a class="col-xs-12" href="/landing_page">
          <img class="login-img" src="/images/loginwith.png">
        </a>
      </div>
    </div>
    
  </div>
    
</body>
</html>