
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Crave</title>
    <link rel="stylesheet" href="https://fonts.googleapis com/css?family=Roboto:400,100" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <meta name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>
  <body>
  <section class='container-fluid full-height'> 
  <div class="row food-selection-row">
    <p class="food-selection col-xs-4">BREAKIE</p>
    <p class="food-selection col-xs-4 active-selection">SNACKS</p>
    <p class="food-selection col-xs-4"> DINNER</p>
  </div>

<div class = "row">
   
   <div class = "col-xs-4">
      <a href = "#" class = "thumbnail">
         <img src = "/images/granola1.jpg" alt = "Generic placeholder thumbnail">
      </a>
   </div>
   
   <div class = "col-xs-4">
      <a href = "#" class = "thumbnail">
         <img src = "/images/granola2.jpg" alt = "Generic placeholder thumbnail">
      </a>
   </div>
   
   <div class = "col-xs-4">
      <a href = "#" class = "thumbnail">
         <img src = "/images/granola3.jpg" alt = "Generic placeholder thumbnail">
      </a>
   </div>
   
   <div class = "col-xs-4">
      <a href = "#" class = "thumbnail">
         <img src = "/images/granola4.jpg" alt = "Generic placeholder thumbnail">
      </a>
   </div>
   
</div>

  
  <div id="row icon" style="margin: 20px; height: 25px;">
  <div class="like-button glyphicon glyphicon-camera col-xs-3 col-xs-offset-2"></div> 
  <div class="like-button glyphicon glyphicon-share-alt col-xs-3 col-xs-offset-2"></div>
  </div>

</section>
  </body>



</html>