
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Crave</title>
    <link rel="stylesheet" href="https://fonts.googleapis com/css?family=Roboto:400,100" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <meta name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>
  <body>
  <section class='container-fluid full-height'> 
      <div class="row food-selection-row">
        <div class="col-xs-10">
          <p class="food-selection col-xs-4">BREAKIE</p>
          <p class="food-selection col-xs-4 active-selection">SNACKS</p>
          <p class="food-selection col-xs-4"> DINNER</p>
        </div>
        <a href="/profile">
          <div class="food-selection col-xs-2 glyphicon glyphicon-star">
          </div>
        </a>
      </div>
    
    <div class="rewards">
      <div class='row reward'>
        <div class="col-xs-4">
          <a href = "#" class = "thumbnail">
            <img src = "/images/westfield.gif" alt = "Generic placeholder thumbnail"/>
          </a>
        </div>
        <div class="col-xs-6 reward-name cursive">
          <p>Westfield</p>
        </div>
        <div class="col-xs-2 reward-name cursive">
          <p>$7</p>
        </div>
      </div>
      <!-- <div class='reward'>
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
        </div>
        <div class="col-xs-2">
        </div>
      </div> -->
    </div>
  
  <div id="row icon" style="margin: 20px; height: 25px;">
  <div class="like-button glyphicon glyphicon-plus col-xs-3 col-xs-offset-2"></div> 
  </div>
</section>
  </body>



</html>