<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Crave</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js'> </script>
    <script src='/js/jquery.mobile.custom.min.js'> </script>
    <script src='/js/tinderSwipe.js'> </script>

  </head>
  <body>
    <section class='container-fluid full-height'> 
      <div class="row food-selection-row">
      </div>
      <div class="row tinder-image-row">
        <div class="full-height full-width">
          <div id="container" class="col-xs-12">
            <div class="buddy" style="display: block;">
              <div class="recipe-title">Fruit Popcorn</div>
              <div class="avatar"  style="display: block; background-image: url(/images/popcornsnack.png)">
              </div>
            </div>
            <div class="buddy">
              <div class="recipe-title">Honey Bananas</div>
              <div class="avatar" style="display: block; background-image: url(https://s-media-cache-ak0.pinimg.com/474x/45/5f/97/455f9760ca851c97e394f87e425d84ce.jpg)">
              </div>
            </div>  
            <div class="buddy">
              <div class="recipe-title">Fruit Pops</div>
              <div class="avatar" style="display: block; background-image: url(https://s-media-cache-ak0.pinimg.com/736x/55/50/bd/5550bd943959af66661a1b1c0c722b85.jpg)">
              </div>
            </div>  
            <div class="buddy">
              <div class="recipe-title">Chocolate <br>Boost Bites</div>
              <div class="avatar" style="display: block; background-image: url(https://s-media-cache-ak0.pinimg.com/736x/fd/2c/3d/fd2c3d7f2eade69169ebc2e3a9211768.jpg)">
              </div>
            </div>  
          </div>
        </div>
      
      </div>
      <div class="row button-row">
      </div>
      <div class="row ">
      </div>
    </section>
  </body>



</html>