
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Crave</title>
    <link rel="stylesheet" href="https://fonts.googleapis com/css?family=Roboto:400,100" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <meta name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>
  <body>
  <section class='container-fluid full-height'> 
      <div class="row food-selection-row">
        <p class="food-selection col-xs-4">BREAKIE</p>
        <p class="food-selection col-xs-4 active-selection">SNACKS</p>
        <p class="food-selection col-xs-4"> DINNER</p>
      </div>

      <div id='accordion'>
      <div class="row tinder-image-row">
<span role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Video</span>
</div>
<div class="row tinder-image-row panel-collapse collapse in" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
  <div class="full-height full-width">
    <div id="container" style=" height:180px;">
      <div class="buddy-video"  style="display: block; ">
        <div class="avatar "  style="display: block;  background-image: url(https://s-media-cache-ak0.pinimg.com/236x/39/fe/02/39fe0298e926a46342b760516744b37c.jpg)">
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="recipes">
    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      Recipe
    </a>
    <div class='ingredients panel-collapse collapse in' id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
      <div class='ingredient'>
      3 ½ cups rolled oats
      </div>
      <div class='ingredient'>
      ½ cup raisins
      </div>
      <div class='ingredient'>
      ½ cup cranberries or glace cherries
      </div>
      <div class='ingredient'>
      1 crushed sesame snaps bar or equivalent
      </div>
      <div class='ingredient'>
      1 tablespoon ground cinnamon
      </div>
      <div class='ingredient'>
      1 teaspoon salt
      </div>
      <div class='ingredient'>
      1 ½ cups Peanut Butter
      </div>
      <div class='ingredient'>
      1 cup honey
      </div>
      <div class='ingredient'>
      ¼ cup melted butter
      </div>
    </div>
  </div>

</section>
  </body>



</html>