
/*---------------Generic--------------------*/

html, body{
    height: 100%;
}
.full-height {
  height: 100%
}
.full-width {
  width: 100%
}

/*---------------Landing Page--------------------*/

.index-page {
  background-image: url("/images/cookbackground.png");
  background-size: 800px 600px
}
.logo-row {
  height: 50%;
}

.logo-row img {
  height: 60%;
  width: auto;
  display: block;
  margin: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.recipes-row {
  height: 15%;
}

.friends-row {
  height: 30%;
}

/*---------------Landing Page--------------------*/

.food-selection-row {
  height: 8%;
}

.tinder-image-row {
  height: 60%;
  background-color: #D84C4A;
  max-width:none;
}

.recipe-image-row {
  height: 40%;
  background-color: #D84C4A;
}


.button-row {
  height: 12%;
}

.friends-title-row{
  height: 4%;
  padding-top: 1%;
  background-color: #f3f3f3;
}

.friends-pic-row {
  height: 13%;
  padding-top: 3%;
  background-color: #f3f3f3;
}

.space-row {
  height: 3%;
}

.friends-pic-row img {
  height: 70%;
  width: auto;
}
/*---------Tinder swiper-----------*/


#container {
  width: 100%;
  /*margin: auto !important;*/
  display: block;
  height: 100%;
  position: relative;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding:0;
}
.buddy {
  display: none;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: #fff;
  padding: 20px;
  margin: 0 5%;
  width: 90%;
  height: 90%;
  cursor: hand;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.rotate-left {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
}
.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  cursor: w-resize;
}
.avatar {
  background: #222;
  width: 100%;
  height: 100%;
  display: block;
  background-size: 100% auto !important;
  background-position: center;
  background-repeat: no-repeat;
}
.like {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  right: 40px;
  text-shadow: none;
}
.dislike {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 40px;
  text-shadow: none;
}
.like-button {
  margin-top:30px;
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
  font-size: 15px;
  position: relative;
  display: inline-block;
  text-shadow: none;
  text-shadow: none;
  text-align: center;
  font-size: 1.5em;
}

.dislike-button {
  margin-top:30px;
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 15px;
  position: relative;
  display: inline-block;
  text-shadow: none;
  text-align: center;
  font-size: 1.5em;
}


.recipe-title {
  position: absolute;
  width: 90%;
  font-family: 'Poiret One', cursive;
  font-size: 2em;
  background-color: rgba(255,255,255,0.8);
  color: black;
  text-align: center;
}


.food-selection {
  padding-top: 10px;
  color: #cdcdcd;
  text-align: center;
}
.active-selection {
  color: #818181;
  border-bottom: 3px solid #EDC93A;

}

.buddy-video {
  display: none;
  background: #fff;
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: #fff;
  padding: 0px;
  width: 90%;
  height: 90%;
  cursor: hand;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.profile-img {
  height: 100%;
  width: auto;
  padding-left: 0px;
  padding-right: 0px;
}

/*---------------------LOGIN SCREEN---------------------------*/

.login-background {
  background-color: #53B19C;
}
.light-box {
  height: 40%;
  margin-top: 130px;
}
.light-background {
  height: 100%;
  background-color: rgba(255,255,255,0.8);
}
.login-img {
  width: 100%;
  height: auto;
}
.logo-login {
  width: 100%;
  height: auto;
}

.cursive {
  font-family: 'Poiret One', cursive;
}

.text-row {
  height: 20%;
}
.logo-login-row {
  height: 40%;
}
.login-row {
  height: 20%;
}

.text-row p {
  width: 100%;
  text-align: center;
  font-size: 3em;
}

.recipes {
  text-align: center;
}

.container, .container-fluid{
  max-width: 800px;
}

/*pics*/

.thumb1 { 
background: url(/images/granola1.jpg) 50% 50% no-repeat;
/*width: 250px;*/
height: 250px;
}

.thumb2 { 
background: url(/images/granola2.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
/*width: 250px;*/
height: 250px;
}
.thumb3 { 
background: url(/images/granola3.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
/*width: 250px;*/
height: 250px;
}
.thumb4{ 
background: url(/images/granola4.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
/*width: 250px;*/
height: 250px;
}